:root{
    --primary:lightgray;
    --dark:  black;
    --light: white;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body{
    background-color: var(--light);
    margin: 30px 50px;
    line-height: 1.4;
}

.btn{
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 20px;
}

.main-nav ul{
    display: grid;
    grid-gap: 18px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-nav a{
    background:var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow); 
}

.main-nav a:hover{
    background: var(--dark);
    color: var(--light);
}

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase'; 
}

.showcase {
    grid-area: showcase;
    min-height: 500px;
    background-image: url(logo5.jpg);
    background-size: auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}



.showcase p{
    font-size: 2rem;
    margin-top: 20px;
    color: var(--light);
}


.top-box{
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .answer{
    font-size: 2.5rem;
}




.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 2fr 2fr;
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}


.portfolio1{
    display: table-column-group;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.portfolio2{
    display: table-column-group;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.portfolio3{
    display: table-column-group;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.portfolio-image {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;

}
section ul li {
    font-size: 25px;
}

#login-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000;
    text-align: center;
}

#login-form {
    background: white;
    max-width: 400px;
    margin: 10% auto; /* Center the form vertically */
    padding: 20px;
    border-radius: 8px;
}

#login-form label {
    display: block;
    margin-bottom: 8px;
}

#login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#login-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #45a049;
}

#login-form button + button {
    margin-left: 10px;
    background-color: #f44336;
}


@media(max-width: 700px) {
    .top-container{
        grid-template-columns: 
        'showcase showcase'
        'top-box-a top-box-b';
    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .main-nav ul{
        grid-template-columns: 1fr;
    }

}

@media(max-width: 500px) {
    .top-container{
        grid-template-columns: 
        'showcase'
    }

}

.sub-menu-1{
    display: none;
}
.sub-menu-2{
    display: none;
}
.sub-menu-3{
    display: none;
}
.sub-menu-3 li a{
    font-size: 16px;
}

.wrapper ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: var(--primary);
    margin-top: 0px;
    margin-left: 0px;
}

.wrapper ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 1fr;
}

.wrapper ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted var(--shadow);
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.wrapper ul li:hover .sub-menu-2{
    display: block;
    position: absolute;
    background: var(--primary);
    margin-top: 0px;
    margin-left: 0px;
}

.wrapper ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 1fr;
}

.wrapper ul li:hover .sub-menu-2 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted var(--shadow);
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.wrapper ul li:hover .sub-menu-3{
    display: block;
    position: absolute;
    background: var(--primary);
    margin-top: 0px;
    margin-left: 0px;
}

.wrapper ul li:hover .sub-menu-3 ul{
    display: block;
    margin: 1fr;
}

.wrapper ul li:hover .sub-menu-3 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted var(--shadow);
    background: transparent;
    border-radius: 0;
    text-align: center;
}

